.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader-container {
  text-align: center;
}

.logo-fade-animation {
  width: 120px;
  height: auto;
  animation: fade-in-out 2s infinite;
}

.loader-text {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

  /* Gradient color */
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fade-in-out {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
